*{
    margin: 0px;
    padding: 0px;
}

.boardImg{
    opacity: 0.8;
}

/*to handle relative positioning*/
.boardHandler{
    position: relative;
    display: inline-block;  
}

.gamediv{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

/* Safari syntax */
.point{
    position:absolute;
    height: 30px;
    width: 30px;
    padding: 5px;   
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
}

.point > p{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    font-size:large;
}