*{
    margin: 0px;
    padding: 0px;
}

.Home{
    height: 100vh;
    width: 100%;
    /* background-color: #EEE6CE; */
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('vintage-textured-paper.jpg');
    /* background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('brown-papyrus-paper.jpg'); */
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}